<div class="main">
    <div class="add-update-material">
        <div class="add-materials">
            <h4>Tickets Pending </h4>
            <router-outlet></router-outlet>
<!-- 
            <app-list-tickets-pending></app-list-tickets-pending> -->
           
        </div>

        <div class="materials">
            <h4>Tickets In Progress</h4>
            <app-list-tickets-progress></app-list-tickets-progress>
           
        </div>

        <div class="materials">
            <h4>Tickets Resolved</h4>
            <app-list-tickets-resolved></app-list-tickets-resolved>
           
        </div>
    </div>
</div>