form{
    width: 100%;
    padding: 20px 0;
}
.group{
    width: 100%;
}
.group > label{
    font-size: 15px;
    color: white;
    font-weight: 700;
    padding: 10px 0;
}
.group > input {
    width: 90%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid var(--color-primary);
    background: transparent;
    color: white;
    margin-bottom: 10px;
    margin-top:6px ;
}
::placeholder{
    color: white;
}
button{
    background: var(--color-primary);
    border: 1px solid transparent;
    color: white;
    font-weight: 700;
    padding: 10px 12px;
    border-radius: 8px;
    margin-top: 10px;
    transition: .4s;
    cursor: pointer;
}
button:hover{
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    background: white;
}
select {
    padding: 10px;
    border-radius: 8px;
    border: 2px solid var(--color-primary);
    width: 30%;
    background: transparent;
    margin: 0 19px;
    color: white;
  }
  
  select option {
    color: var(--color-primary); /* Assurez-vous que cette couleur contraste avec le fond */
    background: white;
  }
  
  option:disabled {
    color: white; /* Couleur du texte pour l'option par défaut */
  }