<div class="main">
    <div class="logo">
        <img src="../../assets/images/logo1.png" alt="">
    </div>
   
    <div class="main-hero">

        <a routerLink=""><img src="../../assets/icons/left-arrow.png" alt=""></a>
        <div class="main-wrapper">
            <router-outlet></router-outlet>
        </div>
        <div class="main-wrapper">
           <app-list-tickets-technician-resolved></app-list-tickets-technician-resolved>
        </div>
    </div>
        <a routerLink=""><img src="../../assets/icons/right-arrow.png" alt=""></a>
    
</div>
