<form [formGroup]="ticketForm" (ngSubmit)="saveTicket()">

    <div class="group">
    <label for="description">description:</label><br>
    <input id="description" formControlName="description" type="text" placeholder="description de Failure "><br>

    <label for="equipementId">Select Equipment:</label>
      <select id="equipementId" formControlName="equipementId" required>
        <option *ngFor="let equipment of equipmentList" [value]="equipment.idEquipement">
          {{ equipment.name }}
        </option>
      </select><br>
      <label for="failureId">Select Failure:</label>
      <select id="failureId" formControlName="failureId" required>
        <option *ngFor="let failure of failuresList" [value]="failure.id">
          {{ failure.name }}
        </option>
      </select> <br>

      <button type="submit">Sumbit</button>

    </div>
    
    

    


</form>


     
