<div class="main">
    <div class="header">
        <div class="logo">
            <img src="../../assets/images/logo1.png" alt="">
        </div>
        <div class="controles">
            <div class="username">
                <h3>User</h3>
            </div>
            
            <a routerLink="" (click)="logout(true)" id="logout">
                <img src="../../../assets/icons/logout.png" width="100%">
            </a>

        </div>
    </div>
    <div class="main-hero">

        <a routerLink="/dashuser/{{idUser}}"><img src="../../assets/icons/left-arrow.png" alt=""></a>
        <div class="main-wrapper">
            <router-outlet></router-outlet>
        </div>
        <a routerLink="/dashuser/add"><img src="../../assets/icons/right-arrow.png" alt=""></a>
    </div>
</div>
