<div class="hero">
    <div class="hero-warpper">
      <table id="mat-table" mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="Description">
          <th mat-header-cell *matHeaderCellDef> Description </th>
          <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>
      
       
        <ng-container matColumnDef="Creation Date">
          <th mat-header-cell *matHeaderCellDef> Creation Date </th>
          <td mat-cell *matCellDef="let element"> {{element.creationDate}} </td>
        </ng-container>
      
        
        <ng-container matColumnDef="Repair Description">
          <th mat-header-cell *matHeaderCellDef> Repair Description </th>
          <td mat-cell *matCellDef="let element"> {{element.repairDescription}} </td>
        </ng-container>

           
        <ng-container matColumnDef="Status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element"> {{element.status}} </td>
          </ng-container>

          <ng-container matColumnDef="Name Equipment">
            <th mat-header-cell *matHeaderCellDef> Name Equipment </th>
            <td mat-cell *matCellDef="let element"> {{element.equipment.name}} </td>
          </ng-container>

          <ng-container matColumnDef="Name Failure">
            <th mat-header-cell *matHeaderCellDef> Name Failure </th>
            <td mat-cell *matCellDef="let element"> {{element.failure.name}} </td>
          </ng-container>
          <ng-container matColumnDef="update">
            <th mat-header-cell *matHeaderCellDef>Update</th>
            <td mat-cell *matCellDef="let element">
              <a  [routerLink]="['l', ]" mat-button color="primary" id="update" >
                Update
              </a>
            </td>
          </ng-container>

      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
  